@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f8f9fc;
    color: #0d0d0d;
}

/* NAVBAR */
.navbar {
    display: flex; justify-content: space-between;
    padding: 15px 50px;
    background: #ffffffd8;
    backdrop-filter: blur(5px);
    position: sticky; top: 0; z-index: 10;
    border-bottom: 1px solid #e2e2e2;
}
.logo span {
    color: #0077ff;
    font-weight: 700;
}
.nav-btn {
    margin-left: 15px;
    text-decoration: none;
    color: #0077ff;
    font-weight: 600;
}

/* HERO SECTION */
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: url('https://img.freepik.com/premium-photo/cyber-technology-background-futuristic-digital-abstract-design_792836-18302.jpg?w=1060')
        center/cover no-repeat;
    color: white;
}
.hero-text h1 {
    font-size: 45px;
}
.hero-text span {
    color: #00a2ff;
    font-weight: 700;
}
.hero-text h3 {
    margin: 10px 0 20px;
    font-weight: 400;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #00a2ff;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
}

/* SKILLS */
.skills-section {
    text-align: center;
    padding: 80px 10%;
}
.skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px; margin-top: 30px;
}
.skill-card {
    padding: 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    background: white;
    border: 2px solid #0077ff;
}
.skill-card:hover {
    background: #0077ff;
    color: white;
    transform: translateY(-5px);
}

/* DETAIL TEXT */
.detail {
    margin: 40px auto;
    width: 70%;
    line-height: 1.8;
    padding: 25px;
    border-left: 4px solid #0077ff;
}

/* CONTACT */
.contact {
    padding: 80px 10%;
    text-align: center;
}
.contact a {
    color: #0077ff;
    font-weight: 600;
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}
