/* ---------------- SKILL DETAIL ---------------- */
.skill-detail-area {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.detail-card {
  max-width: 1100px;
  width: 100%;
  background: #ffffff;
  padding: 24px 32px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  border: 1px solid rgba(0,0,0,0.1);
  animation: fadeIn 0.3s ease-in-out;
}

.detail-card h2 {
  font-size: 28px;
  margin-bottom: 12px;
  color: #00aaff;
  font-weight: 700;
}

.detail-card p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.skill.active {
  background: #00aaff;
  color: white;
  transition: 0.3s;
}

/* animasi */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
